[user]
	name = Maxim Bredikhin
	email = mbredikhin.dev@gmail.com

[pull]
	ff = only

[core]
	editor = nvim

[rerere]
	enabled = true

[merge]
	conflictstyle = merge

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/.config/git-delta/themes.gitconfig

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true
    features = calochortus-lyallii
    syntax-theme = gruvbox-dark

[merge]
	conflictstyle = merge

[diff]
    colorMoved = default